body {
    display: flex;
    position: relative;
    margin:0;

}

html::-webkit-scrollbar {
    display: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}


/* NAV BAR */
.navigation {
    text-align: center;
    position: fixed;
    width: 100%;
    /*top: 0;*/
}

.EMULATE {
    font-family: "Spectral", serif;
    font-style: italic;
}





/* BULLETIN BOARD */
.bulletin-board{
    position: center;
    margin: 25% auto auto;
    top: 15%;

    height: 80vh;
    width: 80%;

    background-color: white;
    border: 1px solid black;
}
/*.bulletin::-webkit-scrollbar-track{*/
/*    background-color: white;*/
/*}*/
/*.bulletin::-webkit-scrollbar-thumb{*/
/*    background-color: black;*/
/*}*/
/*.bulletin::-webkit-scrollbar-thumb:hover {*/
/*    background: blue;*/
/*}*/

.bulletin:active{
    cursor: grabbing;
}
.bulletin {
    cursor: grab;
    position: absolute;
    display: grid;
    z-index: 8;
    overflow-x: hidden;
    -ms-overflow-x: hidden;

    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px black;

    font-family: NT Bau Mono, monospace;
}

.content {
    overflow-y: auto;
    background-color: white;
    /**/
    scrollbar-color: black whitesmoke;
    scrollbar-gutter: auto;
    /*scrollbar-width: thin;*/

    text-align: start;
}

.content p{
    padding-left: 1em;
    padding-right: 1em;
}

.bulletin-header:active{
    cursor: grabbing;
}

.bulletin-header {
    position: sticky;
    z-index: 9;
    cursor: grab;

    text-align: center;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    height: 30px;
    width: 100%;

    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    font-family: NT Bau Mono, monospace;

}


.x-btn {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;

    text-align: center;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;

    background: red;
    color: white;
    border: 2px solid darkred;
    font-family: NT Bau Mono, monospace;
}

#welcome {
    text-align: center;

    width: 250px;
    height: 250px;

}

#zine {
    height: fit-content;
}



/*.def{*/
/*    position: absolute;*/
/*    bottom: 2%;*/
/*    right: 2%;*/

/*    text-align: center;*/
/*    */
/*    border: 1px solid black;*/
/*}*/

.spacer{
    position: absolute;
    bottom: 0;

    height: 10vh;
    width: 100%;

    background-color: blue;
}