* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*background-color: #e6e1d3;*/
    background-image: url("../_archive/backgrounds/fabric.jpg");
    background-size: cover;
}

html::-webkit-scrollbar {
    display: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

header {
    position: fixed;
    z-index: 999;
    text-align: center;
    width: 100%;
    top: 0;
    color: black;
    /*background-color: #e6e1d3;*/
    font-family: "Spectral", serif;
    font-style: italic;
}



.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 5px;

    height: 100vh;
    top: 20vh;
    bottom: 0;

    grid-auto-flow: row;
    grid-template-areas:
      "vol1-1 vol1-2 vol2-1 vol2-2 vol3-1 vol3-2 vol4-1 vol4-2 vol5-1 vol5-2 zine1";
}

.vol1-1 { grid-area: vol1-1; }
.vol1-2 { grid-area: vol1-2; }
.vol2-1 { grid-area: vol2-1; }
.vol2-2 { grid-area: vol2-2; }
.vol3-1 { grid-area: vol3-1; }
.vol3-2 { grid-area: vol3-2; }
.vol4-1 { grid-area: vol4-1; }
.vol4-2 { grid-area: vol4-2; }
.vol5-1 { grid-area: vol5-1; }
.vol5-2 { grid-area: vol5-2; }
.zine1 { grid-area: zine1; }

.issue{
    display: flex;
    align-items: flex-end;

    margin-top: 20vh;
    height: 75vh;
    width: 80%;
    /*background-color: red;*/

    margin-left: auto;
    margin-right: auto;
}

.issue img{
    margin: 0 auto;
    max-width: 100%;
    max-height: max-content;

    bottom: 0;
    box-shadow: #27293D;
}





.bookviewer{
    position: absolute;
    width: 80%;
    height: 80vh;

    /*display: none;*/
    display: none;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(6px);
    border-style: solid;
    /*opacity: 0.5;*/
}

/*FLIPBOOK*/
/* Book */
.book {
    position: relative;
    width: 325px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

img{
    max-height: 500px;
    max-width: 325px;
}





/*.container {*/
/*    height: fit-content;*/
/*    width: fit-content;*/

/*}*/

/*.archive-element {*/
/*    z-index:0;*/
/*}*/

/*.archive-viewer {*/
/*    position: absolute;*/
/*    display: none;*/
/*    margin: auto;*/
/*    z-index: 999;*/

/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 90vh;*/
/*    width: 90%;*/

/*    border: 2px solid black;*/
/*    box-shadow: 5px 3px black;*/
/*    background-color: white;*/
/*}*/

/*img {*/
/*    -webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
/*    filter: grayscale(100%);*/
/*}*/


/*img:hover {*/
/*    -webkit-filter: grayscale(0%);*/
/*    filter: none;*/
/*}*/

/*.button {*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*pointer-events: none*!*/

/*    background-color: black;*/
/*    color: white;*/
/*    border: 0;*/
/*    font-family: NT Bau Mono, monospace;*/
/*}*/

/*#move{*/
/*    display: none;*/

/*    height: fit-content;*/
/*    left: 50%;*/
/*    top: 50%;*/

/*    transform: translate(-50%, -50%);*/
/*    position: fixed;*/
/*}*/

/*.x-btn{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top:0;*/

/*    width: 30px;*/
/*    height: 30px;*/

/*    border: 2px solid white;*/
/*}*/

/*.enter-hover {*/
/*    position: fixed;*/
/*    background-color: #4b5263;*/
/*    color: #abb2bf;*/
/*    display: none;*/
/*    top: 4em;*/
/*    left: 4em;*/

/*    font-size: small;*/
/*    padding: .5em 3em .5em .5em;*/

/*    z-index: 9999;*/
/*}*/


.TOC{
    display: inline-flex;
    align-items: flex-end;
    position: absolute;
    top: 98vh;
}
.TOC ul{
    list-style-type: none;
}
.TOC li{
    font-size: xxx-large;
    font-family: "Prata", "Spectral", serif;
}
.TOC img{
    max-height: 1em;
    margin: 0 auto;
    bottom: 0;
}
.year{
    font-size: xx-large;
    font-family: "Karla", monospace;
    vertical-align: top;
}