body {
    overflow: hidden;
    background-color: #e6e1d3;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
    gap: 0 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      ". . e m u l a t i n g --- . ."
      ". . . . . . . . . . . . . ."
}

.e { grid-area: e;}

.m { grid-area: m;}

.u { grid-area: u;}

.l { grid-area: l; }

.a { grid-area: a; }

.t { grid-area: t; }

.i { grid-area: i; }

.n { grid-area: n; }

.g { grid-area: g; }

.--- { grid-area: ---; }

.img{
    display: block;
    height: 10vh;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}

