header {
    position: fixed;
    /*display: inline-flex;*/
    z-index: 1;
    text-align: center;

    color: black;
    top:0;

    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%;

    /*padding-bottom: .5em;*/
    padding: 1em;
}
/*.EMULATE {*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/

/*    background-color: red;*/
/*}*/

.scissors{
    position: absolute;
    height: 40px;
    /*max-width: 50px;*/
    left: 25px;
    top: 25px;

    transform: rotate(210deg);

}
.menu {
    display: none;
}
.menu img{
    /*display: block;*/
    position: absolute;
    height: 300px;
    /*background-color: white;*/
    transform: rotate(40deg);
    left: 50px;
    top: -10px;
}
.svg{
    position: absolute;
    height: 300px;
    /*background-color: white;*/
    transform: rotate(40deg);
    left: 50px;
    top: -10px;
    /* This allows the svg to be invisible
    but still clickable */
    opacity: 0;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}


html::-webkit-scrollbar {
    display: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: hotpink;
}

body{
    margin: 0;
    /*background-color: blue;*/
    background-image: url("../_archive/backgrounds/greenGrid.jpg");
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
}

.group-photo {
    height: fit-content;
    width: 60%;

    margin: auto;


    /*background-color: darkred;*/
}
.group-photo img{
    width: 100%;
    top: 200px;

}


.mission{
    width: 100%;
    /*background: red;*/
    padding-top: 5vh;
    padding-bottom: 5vh;

    text-align: center;
}



.bios{
    width: 100%;
    /*background-color: red;*/

    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;

}

.bio{
    width: 400px;
    height: 400px;
    display: block;

    background-color: blue;
    /*text-align: center;*/


    margin-bottom: 50px;
}

.bio img{
    position: relative;
    width: 70%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
.text{
    margin: 0 auto;
    text-align: center;
}

#buddy{
    background-image: url("../_archive/bio_pics/tiles/tile6.jpg");
    background-size: cover;
}

#ruthie{
    background-image: url("../_archive/bio_pics/tiles/tile2.jpg");
    background-size: cover;
}

#isabelle{
    background-image: url("../_archive/bio_pics/tiles/tile5.jpg");
    background-size: cover;
}

#maggie {
    background-image: url("../_archive/bio_pics/tiles/tile4.jpg");
    background-size: cover;
}

#ruby{
    background-image: url("../_archive/bio_pics/tiles/tile1.jpg");
    background-size: cover;
}