/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding: 0 4px;*/
/*}*/
body {
    background-color: black;
    margin: 0;

}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    color: hotpink;
}

header {
    position: fixed;
    z-index: 999;
    text-align: center;

    color: white;
    background-color: black;
    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%
}

.row{
    position: absolute;
    animation: scroll 200s linear infinite;
    top: 20%;
}

.row:after {
    padding: 20px;
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
    padding: 10px;
}

.col img {
    margin: 20px;
    width: 75%;
}
img:hover{
    cursor: zoom-in;
    -webkit-filter: grayscale(0%);
    filter: none;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


* {
    box-sizing: border-box;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}