/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding: 0 4px;*/
/*}*/
html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #0B0705;
    margin: 0;
    justify-content: center;
}
a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color: hotpink;
}

header {
    position: fixed;
    z-index: 20;
    text-align: center;

    color: white;
    background-color: #0B0705;
    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%
}

.row{
    position: absolute;
    animation: scroll 500s linear infinite;
    top: 20%;

    z-index: 0;

}

.row:after {
    padding: 20px;
    content: "";
    display: table;
    clear: both;

    z-index: 0;
}

.col {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
}

.col img {
    margin: 20px 10px;
    width: 75%;
    z-index: 0;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.col img:hover{
    cursor: zoom-in;
    -webkit-filter: grayscale(0%);
    filter: none;
}


* {
    box-sizing: border-box;
}

#zoomed{
    width: 70%;
    height: 70vh;
    margin: auto;

    display: none;
}



/*random collage elements overlay*/
.parent {
    height: 4000px;
    width: 100%;
    top: 20%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "A . Aa . a"
        "B . Bb . b"
        "C . Cc . c"
        "D . Dd . d"
        "E . Ee . e"
        "F . Ff . f"
        "G . Gg . g"
        "H . Hh . h"
        "I . Ii . i"
        "J . Jj . j"
        "K . Kk . k"
        "L . Ll . l"
        "M . Mm . m"
        "N . Nn . n"
        "O . Oo . o";

    margin: 0;
}

.a { grid-area: a;
    z-index: 10;}
.b { grid-area: b;
    z-index: 10;}
.c { grid-area: c;
    z-index: 10;}
.d { grid-area: d;
    z-index: 10;}
.e { grid-area: e;
    z-index: 10;}
.f { grid-area: f;
    z-index: 10;}
.g { grid-area: g;
    z-index: 10;}
.h { grid-area: h;
    z-index: 10;}
.i { grid-area: i;
    z-index: 10;}
.j { grid-area: j;
    z-index: 10;}
.k { grid-area: k;
    z-index: 10;}
.l { grid-area: l;
    z-index: 10;}
.m { grid-area: m;
    z-index: 10;}
.n { grid-area: n;
    z-index: 10;}
.o { grid-area: o;
    z-index: 10;}

.A { grid-area: A;
    z-index: 10;}
.B { grid-area: B;
    z-index: 10;}
.C { grid-area: C;
    z-index: 10;}
.D { grid-area: D;
    z-index: 10;}
.E { grid-area: E;
    z-index: 10;}
.F { grid-area: F;
    z-index: 10;}
.G { grid-area: G;
    z-index: 10;}
.H { grid-area: H;
    z-index: 10;}
.I { grid-area: I;
    z-index: 10;}
.J { grid-area: J;
    z-index: 10;}
.K { grid-area: K;
    z-index: 10;}
.L { grid-area: L;
    z-index: 10;}
.M { grid-area: M;
    z-index: 10;}
.N { grid-area: N;
    z-index: 10;}
.O { grid-area: O;
    z-index: 10;}

.element {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}