/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding: 0 4px;*/
/*}*/
html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    margin: 0;
    justify-content: center;
}
a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color: hotpink;
}

header {
    position: fixed;
    z-index: 999;
    text-align: center;

    color: white;
    background-color: black;
    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%
}

.row{
    position: absolute;
    animation: scroll 500s linear infinite;
    top: 20%;

    z-index: 0;

}

.row:after {
    padding: 20px;
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.col img {
    margin: 20px 10px;
    width: 75%;
}
img:hover{
    cursor: zoom-in;
    -webkit-filter: grayscale(0%);
    filter: none;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


* {
    box-sizing: border-box;
}

#zoomed{
    width: 70%;
    height: 70vh;
    margin: auto;

    display: none;
}



/*random collage elements overlay*/
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        "A . Aa . a"
        "B . Bb . b"
        "C . Cc . c"
        "D . Dd . d"
        "E . Ee . e"
        "F . Ff . f"
        "G . Gg . g"
        "H . Hh . h"
        "I . Ii . i"
        "J . Jj . j"
        "K . Kk . k"
        "L . Ll . l"
        "M . Mm . m"
        "N . Nn . n"
        "O . Oo . o";
    z-index: 10;
}

.a { grid-area: a;}
.b { grid-area: b;}
.c { grid-area: c;}
.d { grid-area: d;}
.e { grid-area: e;}
.f { grid-area: f;}
.g { grid-area: g;}
.h { grid-area: h;}
.i { grid-area: i;}
.j { grid-area: j;}
.k { grid-area: k;}
.l { grid-area: l;}
.m { grid-area: m;}
.n { grid-area: n;}
.o { grid-area: o;}

.A { grid-area: A;}
.B { grid-area: B;}
.C { grid-area: C;}
.D { grid-area: D;}
.E { grid-area: E;}
.F { grid-area: F;}
.G { grid-area: G;}
.H { grid-area: H;}
.I { grid-area: I;}
.J { grid-area: J;}
.K { grid-area: K;}
.L { grid-area: L;}
.M { grid-area: M;}
.N { grid-area: N;}
.O { grid-area: O;}

.element {
    display: block;
    height: 5vh;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}