.background {
    display: grid;
    height: 100vh;
    background-image: url(../_archive/backgrounds/graphpaper.jpg);
    background-size: cover;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.scissors { grid-area: 2 / 1 / 5 / 5; }
.menu { grid-area: 3 / 5 / 4 / 6; }
.expanded_menu { grid-area: 2 / 5 / 4 / 5; }
.emulate { grid-area: 9 / 8 / 11 / 14; }

.doodle{
    width: 80vh;
}

.emulate_img{
    height: 15vh;
}

.scissor_img_top{ 
    height: 20vh;
    rotate: 0deg; 
}


.scissor_img_bottom{
    display: block;  
    height: 20vh;
    rotate: 0deg;
}

.menu_img {
    height: 8vh;
}

.expanded_menu_img {
    height: 30vh;
    visibility: hidden;
}