.background {
    display: grid;
    height: 100vh;
    background-image: url(../_archive/backgrounds/graphpaper.jpg);
    background-size: cover;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.scissors { grid-area: 1 / 1 / 3 / 4; }
.pic1 { grid-area: 5 / 2 / 8 / 5; }
.pic2 { grid-area: 6 / 3 / 9 / 7; }
.pic3 { grid-area: 2 / 10 / 4 / 13; }
.pic4 { grid-area: 3 / 11 / 5 / 15; }
.emulate { grid-area: 6 / 10 / 8 / 8; }

.doodle{
    width: 10vh;
}

.emulate_img{
    height: 20vh;
}

.scissor_img_top{ 
    height: 20vh;
    rotate: -0deg; 
}


.scissor_img_bottom{
    display: block;  
    height: 20vh;
    rotate: -20deg;
}