.background {
    display: grid;
    height: 100%;
    background-image: url(../_archive/backgrounds/graphpaper.jpg);
    background-size: cover;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

.scissors { grid-area: 1 / 1 / 4 / 5; }
.e { grid-area: 6 / 8 / 7 / 9; }
.m { grid-area: 6 / 9 / 7 / 10; }
.u { grid-area: 6 / 10 / 7 / 11; }
.l { grid-area: 6 / 11 / 7 / 12; }
.a { grid-area: 6 / 12 / 7 / 13; }
.t { grid-area: 6 / 13 / 7 / 14; }
.e2 { grid-area: 6 / 14 / 7 / 15; }

.img{
    display: block;
    height: 10vh;
}

.scissor_img_top{
    display: block;  
    height: 20vh;
    rotate: 0deg;
}


.scissor_img_bottom{
    display: block;  
    height: 20vh;
    rotate: 0deg;
}